:root { /* sudo class that refers to the root element typically <html> but has higher precedence*/
    --base-size: 1rem; /* default 1rem = 16px */
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --lg: calc(var(--scale) * var(--h1))
    /* cal xl here */
    --small: calc(var(--base-size) / var(--scale))


    --lime: #a4ffa2;
    --green: #333d29;
    --coffee:#43281c;
    --magenta: #f47dda;
    --magenta50: #f47dda80;
    --white: #ffffff;
    --mocha: #7f4724;
    --tan: #cec5b4;
    --teal: #2e6d81;
    --lemon:#fbf2c0;
    --vanilla: #f1e3d3;
    --cyan: #7de6f4;
    --black: #050d14;
    --blue: #3e80b5;

    --decorative: "Montserrat", sans-serif;
    --sans: "Open Sans", sans-serif;
    --sans-serif: "Poppins", sans-serif;
    --radius: 5px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* allow us to include margin and padding with width of and height of elemtn */
}

